<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Sagar Maharjan</h2>
            <h4>sagarmaharjan31@gmail.com</h4>
        </div>
        <img src="https://avatars.githubusercontent.com/u/25345884?s=460&u=fe054262f053edc7968b20f1555a7dcee0132db0&v=4" alt="Sagar Maharjan">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard']">Dashboard</a>

    <mat-divider></mat-divider>

</mat-nav-list>